.prediction__red {
  font-weight: 500;
  color: rgb(199, 31, 31);
  font-size: 64px;
}
.prediction__green {
  font-weight: 500;
  color: rgb(15, 150, 15);
  font-size: 64px;
}
.results__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
  margin-top: 2em;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 0.5em;
  width: 80%;
  max-width: 500px;
}

.controls {
  align-self: center;
  margin-top: 1em;
}

.claiminfo {
  align-self: center;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.claiminfo__element {
  font-size: x-large;
  margin-top: 0.3em;
  text-transform: uppercase;
}

.results {
  align-self: center;
  text-align: center;
}
.reasons {
  color: rgb(109, 107, 107);
}
